.Border{
    width: 1411px;
    height: 643px;
   background-color: 	#CBC3E6;
   background-size: cover;
  }
  .Pfeilbackpersonaluser{
    position: relative;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 709px;
    cursor: pointer;
  }
.PersonalUserTitel{
    border: 2px solid;
    border-radius: 12px;
    background-color:#9E83F5;
    margin-left: 474px;
    width: 500px;
    height: 45px;
  }
.PersonalUserTitel .Text{
    padding-left: 120px;
    font-size: 35px;
  }
  
  .Personal_Menue{
    list-style-type: none;
  position: relative;
  bottom: 45px;
  left: 20px;
width: 100px;
height: 640px;
border-right: solid #f2f2f2;
border-bottom: #CBC3E6;
border-top: #CBC3E6;
border-left: #CBC3E6;
float:left;
background-color:	#CBC3E6;
}

  .Personal_Menue .Home:hover{
    color:  #E8E8E8;
  }

  .Personal_Menue .Homeicon{
    width: 80px;
    height: 80px; 
  }
  
  .Personal_Menue .Project:hover{
    color:  #E8E8E8;
  }
  .Personal_Menue .Personal_Projecticon{
    height: 80px;
    width: 80px;
    float:left;
    margin-top: 15px;
  }      
  .Personal_Menue .Idea:hover{
    color: #E8E8E8;
  }
  .Personal_Menue .Personal_Ideaicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
    
  }
  .Personal_Menue .Inspiration:hover{
    color:#E8E8E8;
  }
  .Personal_Menue .Personal_Inspirationicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Personal_Menue .PersonalUser:hover{
    color:#E8E8E8;
  }
  .Personal_Menue .PersonalUsericon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
    background-color: #7b68ee;
  }
  .Personal_Menue .Personal_faqicon:hover{
    color:#E8E8E8;
  }
  .Personal_Menue .Personal_faqicon{
    margin-top: 30px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Personal_Idea{
 
 
    padding-left: 160px;
    padding-top: 75px;
    
  }
  .Personal_Idea .text{
    font-size: 45px;
    padding-left: 50px;
    
  }
  .Personal_Idea .icon{
    height: 45px;
    width: 45px;
   
  }
  .Personal_Idea .button{
    background-color: #CBC3E6;
   border: none;
   color: #000000;
  }
  .Personal_Idea .button:hover{
    background-color: transparent;
    cursor: pointer;
  border: none;
  color: #5236AB;
  }
  .Personal_Feedback{
 
 
    padding-left: 160px;
    padding-top: 85px;
    
  }
  .Personal_Feedback .text{
    font-size: 45px;
    padding-left: 50px;
    
  }
  .Personal_Feedback .icon{
    height: 45px;
    width: 45px;
   
  }
  .Personal_Feedback .button{
    background-color: #CBC3E6;
   border: none;
   color: #000000;
  }
  .Personal_Feedback .button:hover{
    background-color: transparent;
    cursor: pointer;
  border: none;
  color: #5236AB;
  }
  .Personal_Project{
 
 
    padding-left: 160px;
    padding-top: 50px;
    
  }
  .Personal_Project .text{
    font-size: 45px;
    padding-left: 50px;
    
  }
  .Personal_Project .icon{
    height: 45px;
    width: 45px;
   
  }
  .Personal_Project .button{
    background-color: #CBC3E6;
   border: none;
   color: #000000;
  }
  .Personal_Project .button:hover{
    background-color: transparent;
    cursor: pointer;
  border: none;
  color: #5236AB;
  }
  .Personal_Inspiration{
 
 
    padding-left: 160px;
    padding-top: 85px;
    
  }
  .Personal_Inspiration .text{
    font-size: 45px;
    padding-left: 50px;
    
  }
  .Personal_Inspiration .icon{
    height: 45px;
    width: 45px;
   
  }
  .Personal_Inspiration .button{
    background-color: #CBC3E6;
   border: none;
   color: #000000;
  }
  .Personal_Inspiration .button:hover{
    background-color: transparent;
    cursor: pointer;
  border: none;
  color: #5236AB;
  }