.PersonalIdea_Border{
    width: 1414px;
    height: 643px;
   background-color: #CBC3E6;
   background-size: cover;
  }
 
  .Pfeilbackpersonalidea{
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 2px;
    right: 465px;
    cursor: pointer;
  }
  .PersonalIdea_Titel{
    border: 2px solid;
    border-radius: 12px;
    background-color:#9E83F5;
    margin-left: 474px;
    width: 500px;
    height: 45px;
    bottom: 10px;
  }
  .PersonalIdea_Titel .PersonalIdea_Text{
    padding-left: 50px;
    font-size: 35px;
  }
 
  .PersonalIdea_Titel .PersonalIdea_icon{
    width:35px;
    height:35px;
  }
  .search-input
  {
    width: 200px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 70px;
  }
  .PersonalIdea_table{
    margin-left: 60px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    width: 90%;
  }
  .tbody{
    text-align: center;
    font-size: 18px;
  }
  .thead{
    font-size: 20px;
  }
  .th1
  {
    border-style: solid;
    border-color: black;
  }
  .th2
  {
    border-style: solid;
    border-color: black;
  }
  .th3
  {
    border-style: solid;
    border-color: black;
    
  }
  .th4
  {
    border-style: solid;
    border-color: black;
  }
  .th5
  {
    border-style: solid;
    border-color: black;
  }
  .th6
  {
    border-style: solid;
    border-color: black;
  }
  .th7
  {
    border-style: solid;
    border-color: black;
  }
  .th8
  {
    border-style: solid;
    border-color: black;
  }
  .Potentialuserselect
  {
    width: 15em;
    position: relative;
    top: 10px;
    left: 695px;
    cursor: pointer;
  }
  .idea_sectorselect
  {
    width: 15em;
    position: relative;
    top: 10px;
    left: 695px;
    cursor: pointer;
  }
  .idea_innovativeselect
  {
    width: 15em;
    position: relative;
    top: 10px;
    left: 690px;
    cursor: pointer;
  }
  .Edit{
    cursor: pointer;
    background-color:	#CBC3E6;
    border: none;
    font-size: 16px;
  }
  .Edit:hover{
    color:   #5236AB;
  }
  .View{
    cursor: pointer;
    background-color:	#CBC3E6;
    border: none;
    font-size: 16px;
  }
  .View:hover{
    color:   #5236AB;
  }