.PersonalProject_Border{
    width: 1411px;
    height: 643px;
   background-color: 	#CBC3E6;
   background-size: cover;
  }
  .Pfeilbackpersonalproject{
    position: relative;
    width: 30px;
    height: 30px;
    bottom: 2px;
    right: 465px;
    cursor: pointer;
  }
  .PersonalProject_Titel{
    border: 2px solid;
    border-radius: 12px;
    background-color:#9E83F5;
    margin-left: 474px;
    width: 500px;
    height: 45px;
  }
  .PersonalProject_Titel .PersonalProject_Text{
    padding-left: 20px;
    font-size: 35px;
  }
  .PersonalProject_Titel .PersonalProject_icon{
    width:35px;
    height:35px;
  }
  .personalproject_search-input
  {
    width: 200px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 80px;
  }
  .PersonalProject_table{
    margin-left: 50px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    width: 90%;
  }
  .tbody{
    text-align: center;
    font-size: 18px;
  }
  .thead{
    font-size: 20px;
  }
  .th1
  {
    border-style: solid;
    border-color: black;
  }
  .th2
  {
    border-style: solid;
    border-color: black;
  }
  .th3
  {
    border-style: solid;
    border-color: black;
  }
  .th4
  {
    border-style: solid;
    border-color: black;
  }
  .th5
  {
    border-style: solid;
    border-color: black;
  }
  .th6
  {
    border-style: solid;
    border-color: black;
  }
  .sectorselect
  {
    width: 15em;
    position: relative;
    top: 10px;
    left: 700px;
    cursor: pointer;
  }
  .innovativeselect
  {
    width: 15em;
    position: relative;
    top: 10px;
    left: 705px;
    cursor: pointer;
  }
  .Edit{
    cursor: pointer;
    background-color:	#CBC3E6;
    border: none;
    font-size: 16px;
  }
  .Edit:hover{
    color:   #5236AB;
  }
  .View{
    cursor: pointer;
    background-color:	#CBC3E6;
    border: none;
    font-size: 16px;
  }
  .View:hover{
    color:   #5236AB;
  }