.Inspiration_Border{
    width: 1409px;
    height: 641px;
   background-color: 	#CBC3E6;
   background-size: cover;
  }
  .Pfeilbackinspiration{
    position: relative;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 711px;
    cursor: pointer;
  }
.Inspiration_Titel{
    border: 2px solid;
    border-radius: 12px;
    background-color:#9E83F5;
    margin-left: 474px;
    width: 500px;
    height: 45px;
  }
.Inspiration_Titel .Inspiration_Text{
    padding-left: 120px;
    font-size: 35px;
  }

  .Inspiration_Titel .Inspiration_icon{
    width:35px;
    height:35px;
  }
  .Inspiration_Menue{
    list-style-type: none;
  position: relative;
  bottom: 45px;
  left: 20px;
width: 100px;
height: 640px;
border-right: solid #f2f2f2;
border-bottom: #CBC3E6;
border-top: #CBC3E6;
border-left: #CBC3E6;
float:left;
background-color:	#CBC3E6;
}

  .Inspiration_Menue .Home:hover{
    color:#E8E8E8;
  }

  .Inspiration_Menue .Homeicon{
    width: 80px;
    height: 80px; 
  }
  
  .Inspiration_Menue .Project:hover{
    color: #E8E8E8;
  }
  .Inspiration_Menue .Inspiration_Projecticon{
    height: 80px;
    width: 80px;
    float:left;
    margin-top: 15px;
  }

  .Inspiration_Menue .Idea:hover{
    color:#E8E8E8;
  }
  .Inspiration_Menue .Inspiration_Ideaicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  } 
  .Inspiration_Menue .Inspiration:hover{
    color:#E8E8E8;
  }
  .Inspiration_Menue .Inspirationicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
    background-color: #7b68ee;
  }
  .Inspiration_Menue .PersonalUser:hover{
    color:#E8E8E8;
  }
  .Inspiration_Menue .Inspiration_PersonalUsericon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Inspiration_Menue .Inspiration_faqicon:hover{
    color:#E8E8E8;
  }
  .Inspiration_Menue .Inspiration_faqicon{
    margin-top: 30px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .trendmaps{
    float: left;
    margin-left: 50px;
    bottom: 65px;
    position: relative;
  }
.Titeltrends{
    color: #825ff7;
    margin-left: 360px;
    font-size: 28px;
    bottom: 5px;
    position: relative;
}
 .Megatrendtitel{
    left:950px;
    color: #825ff7;
    font-size: 28px;
    position: relative;
    bottom: 49px;
}
.Megatrend .Gender-Shift
{
    position: relative;
    font-size: 18px;
    left: 177px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
    text-align: center;
}
.Megatrend .Gender-Shift:hover{
    color: #5236AB;
}

.Megatrend .Healthtrend
{
    position: relative;
    font-size: 18px;
    left: 178px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Healthtrend:hover{
    color: #5236AB;
}

.Megatrend .Globalisation
{
    position: relative;
    font-size: 18px;
    left: 177px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Globalisation:hover{
    color: #5236AB;
}

.Megatrend .Connectivity
{
    position: relative;
    font-size: 18px;
    left: 178px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Connectivity:hover{
    color: #5236AB;
}

.Megatrend .Individualisation
{
    position: relative;
    font-size: 18px;
    left: 179px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Individualisation:hover{
    color: #5236AB;
}

.Megatrend .Mobility
{
    position: relative;
    font-size: 18px;
    left: 179px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Mobility:hover{
    color: #5236AB;
}

.Megatrend .Security
{
    position: relative;
    font-size: 18px;
    left: 179px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Security:hover{
    color: #5236AB;
}

.Megatrend .New-Work
{
    position: relative;
    font-size: 18px;
    left: 179px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .New-Work:hover{
    color: #5236AB;
}

.Megatrend .Neo-Ecology
{
    position: relative;
    font-size: 18px;
    left: 179px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Neo-Ecology:hover{
    color: #5236AB;
}

.Megatrend .Urbanisation
{
    position: relative;
    font-size: 18px;
    left: 179px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Urbanisation:hover{
    color: #5236AB;
}

.Megatrend .Silver-Age
{
    position: relative;
    font-size: 18px;
    left: 179px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Silver-Age:hover{
    color: #5236AB;
}

.Megatrend .Knowledge-Culture
{
    position: relative;
    font-size: 18px;
    left: 179px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    bottom: 30px;
}
.Megatrend .Knowledge-Culture:hover{
    color: #5236AB;
}