.Idea_Border{
    width: 1411px;
    height: 643px;
   background-color: 	#CBC3E6;
   background-size: cover;
  }
  .PfeilbackIdeaAdd{
    position: relative;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 668px;
    cursor: pointer;
  }
.Idea_Titel{
    border: 2px solid;
    border-radius: 12px;
    background-color:#9E83F5;
    margin-left: 474px;
    width: 500px;
    height: 45px;
  }
.Idea_Titel .Idea_IdeaAddText{
    padding-left: 120px;
    font-size: 35px;
  }

  .Idea_Titel .Idea_icon{
    width:35px;
    height:35px;
  }
  .Idea_Menue{
    list-style-type: none;
  position: relative;
  bottom: 45px;
  left: 20px;
width: 100px;
height: 640px;
border-right: solid #f2f2f2;
border-bottom: #CBC3E6;
border-top: #CBC3E6;
border-left: #CBC3E6;
float:left;
background-color:	#CBC3E6;
}

  .Idea_Menue .Home:hover{
    color:#E8E8E8;
  }

  .Idea_Menue .Homeicon{
    width: 80px;
    height: 80px; 
  }
  
  .Idea_Menue .Project:hover{
    color: #E8E8E8;
  }
  .Idea_Menue .Idea_Projecticon{
    height: 80px;
    width: 80px;
    float:left;
    margin-top: 15px;
  }
  

  .Idea_Menue .Idea:hover{
    color:#E8E8E8;
  }
  .Idea_Menue .Ideaicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
    background-color: #7b68ee;
  }    
  
  .Idea_Menue .Inspiration:hover{
    color:#E8E8E8;
  }
  .Idea_Menue .Idea_Inspirationicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Idea_Menue .PersonalUser:hover{
    color:#E8E8E8;
  }
  .Idea_Menue .Idea_PersonalUsericon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Idea_Menue .Idea_faqicon:hover{
    color:#E8E8E8;
  }
  .Idea_Menue .Idea_faqicon{
    margin-top: 30px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Idea .Idea_icon{
     float: left;
     position: relative;
     top:50px;
     left:  100px;
     height: 260px;
     width: 150px;
     }
  .Idea_Add .titleText{
  position: relative;
  left: 155px;
  top:30px;
  width: 620px;
  box-sizing: border-box;
  padding: 12px 20px;
  font-size:19px;
  font-weight: 700;
  }
  .Idea_Potentialuser .select{
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 620px;
    position: relative;
    left: 155px;
    top: 30px;
    font-size:19px;
  }
  .Idea_addSector .select{
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 620px;
    position: relative;
    left: 155px;
    top: 30px;
    font-size:19px;
  }
  .Idea_Innovative .select{
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 620px;
    position: relative;
    left: 155px;
    top:30px;
    font-size:19px;
  }
  .Idea_Aim .AimText{
    position: relative;
    left: 155px;
    top: 40px;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 620px;
    font-size:19px;
    font-weight: 700;
    }
    .Idea_shortdescription .shortdescriptionText{
      position: relative;
      left: 155px;
      top: 50px;
      box-sizing: border-box;
      padding: 12px 20px;
      width: 620px;
      font-size:19px;
      font-weight: 700;
      }
    
    .Contact .Text{
      position: relative;
      left: -90px;
      margin-top: 10px;
      box-sizing: border-box;
      padding: 12px 20px;
      font-size:16px;
      resize: none;
    }
  .Idea_Submit{
    position: relative;
    left: 60px;
    margin-top: 10px;
    
  }
  .Idea_Submit .Button{
    box-sizing: border-box;
    font-size:24px;
    padding: 12px 20px;
    resize: none;
    transition-duration: 0.4s;
    width: 620px;
    position: relative;
    left:245px;
    top:50px;
  background-color: #cccccc;
  cursor: pointer;
  

  }
  .Idea_Submit .Button:hover {
    border: none;
    background-color: 	#CBC3E6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  }
.Idea_Popup{
  width: 28em;
  height: 15em;
  background-color: #ffffff ;
  margin-left: 480px;
  margin-top: 200px;
  background-color: #1AB977;
}
.Idea_Success{
font-size: 40px;
position: relative;
}
.Idea_Success .Titeltext {
  text-align: center;
}
.Idea_Success .Text{
  text-align: center;
}.Idea_Success .Button{
  padding: 10px 28px;
  margin-top: 10px;
  margin-left: 175px;
}
.Idea_Success .Button:hover{
  border: none;
  background-color: 	#CBC3E6;
}
.Alert
{
  background-color: #FFAC25;
}