.Idea_Border{
  width: 1414px;
height: 643px;
background-color: #CBC3E6;
background-size: cover;
}
.PfeilbackIdeaSearch{
position: relative;
width: 30px;
height: 30px;
top: 0px;
right: 759px;
cursor: pointer;
}
.Idea_Titel{
  border: 2px solid;
  border-radius: 12px;
  background-color:#9E83F5;
  margin-left: 474px;
  width: 500px;
  height: 45px;
}
.Idea_Titel .Idea_SearchText{
  padding-left: 60px;
  font-size: 35px;
}

.Idea_Titel .Idea_icon{
  width:35px;
  height:35px;
}
.Menue{
  list-style-type: none;
position: relative;
bottom: 45px;
left: 20px;
width: 100px;
height: 500px;
border-right: solid #f2f2f2;
border-bottom: #CBC3E6;
border-top: #CBC3E6;
border-left: #CBC3E6;
float:left;
background-color:	#CBC3E6;
}

.Idea_Menue .Home:hover{
  color:#E8E8E8;
}

.Idea_Menue .Homeicon{
  width: 80px;
  height: 80px; 
}

.Idea_Menue .Project:hover{
  color: #E8E8E8;
}
.Idea_Menue .Idea_Projecticon{
  height: 80px;
  width: 80px;
  float:left;
  margin-top: 15px;
}

.Idea_Menue .Idea:hover{
  color:#E8E8E8;
}
.Idea_Menue .Ideaicon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
  background-color: #7b68ee;
} 
.Idea_Menue .Inspiration:hover{
  color:#E8E8E8;
}
.Idea_Menue .Idea_Inspirationicon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
}     
.Idea_Menue .PersonalUser:hover{
  color:#E8E8E8;
}
.Idea_Menue .Idea_PersonalUsericon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
}
.Idea_Menue .Idea_faqicon:hover{
  color:#E8E8E8;
}
.Idea_Menue .Idea_faqicon{
  margin-top: 30px;
  height: 80px;
  width: 80px;
  float:left;
}
.asean-symbol{
  margin-right: 100px;
}
.asean-symbol .PiShareNetworkBold{
  width: 50px;
  height: 50px;
}
.asean-symbol .AiOutlineFundProjectionScreen{
  width: 50px;
  height: 50px;
}
.asean-symbol .FactoryIcon{
  width: 50px;
  height: 50px;
}
.asean-symbol .PiCubeFocusDuotone{
  width: 50px;
  height: 50px;
}