.Border
{
 width: 1414px;
 height: 643px;
 background-color: #CBC3E6;
 background-size: cover;
}
.View_Title{
  border: 2px solid;
  border-radius: 12px;
  background-color:#9E83F5;
  position: relative; 
  bottom: 30px;
  left: 380px;
  width: 580px;
  height: 45px;
}
.View_Title .Text{
  padding-left: 220px;
  font-size: 35px;
  position: relative;
  top: 8px;
}