.Idea_Border{
    width: 1414px;
    height: 643px;
   background-color: #CBC3E6;
   background-size: cover;
  }
 
  .PfeilbackIdeaBox{
    position: relative;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 643px;
    cursor: pointer;
  }
  .Idea_Titel{
    border: 2px solid;
    border-radius: 12px;
    background-color:#9E83F5;
    margin-left: 474px;
    width: 500px;
    height: 45px;
  }
  .Idea_Titel .Idea_Text{
    padding-left: 150px;
    font-size: 35px;
  }
 
  .Idea_Titel .Idea_icon{
    width:35px;
    height:35px;
  }
  .Idea_Circle_Menue{
    position: relative;
    left: 800px;
    bottom: 38px;
  }
  .Idea_Circle_Menue .Circle_Add{
    color: #4B0082;
  }
  .Idea_Circle_Menue .Circle_Search{
    color: #4B0082;
  }
  .Menue{
    list-style-type: none;
  position: relative;
  bottom: 45px;
  left: 20px;
  width: 100px;
  height: 640px;
  border-right: solid #f2f2f2;
  border-bottom: #CBC3E6;
  border-top: #CBC3E6;
  border-left: #CBC3E6;
  float:left;
  background-color:	#CBC3E6;
  }
  
  .Idea_Menue .Home:hover{
    color: #E8E8E8;
  }
  
  .Idea_Menue .Homeicon{
    width: 80px;
    height: 80px; 
  }
  
  .Idea_Menue .Project:hover{
    color: #E8E8E8;
    }  
  
  .Idea_Menue .Project_Ideaicon{
    margin-top: 20px;
    height: 80px;
    width: 80px;
    float:left;
    margin-top: 15px;
  }   
  .Idea_Menue .Idea:hover{
    color: #E8E8E8;
  }
  .Idea_Menue .Ideaicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
    background-color: #7b68ee;
  } 
  .Idea_Menue .Idea_Inspiration:hover{
    color:#E8E8E8;
  }
  .Idea_Menue .Idea_Inspirationicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Idea_Menue .PersonalUser:hover{
    color:#E8E8E8;
  }
  .Idea_Menue .Idea_PersonalUsericon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Idea_Menue .Idea_faqicon:hover{
    color:#E8E8E8;
  }
  .Idea_Menue .Idea_faqicon{
    margin-top: 30px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .search-input
  {
    width: 200px;
    height: 25px;
    position: relative;
    top: 10px;
    left: 70px;
  }
  .table{
    margin-left: 130px;
    margin-top: 20px;
    border-style: solid;
    border-color: black;
    width: 90%;
  }
  .tbody{
    text-align: center;
    font-size: 18px;
  }
  .thead{
    font-size: 20px;
  }
  .th1
  {
    border-style: solid;
    border-color: black;
  }
  .th2
  {
    border-style: solid;
    border-color: black;
  }
  .th3
  {
    border-style: solid;
    border-color: black;
    
  }
  .th4
  {
    border-style: solid;
    border-color: black;
  }
  .th5
  {
    border-style: solid;
    border-color: black;
  }
  .th6
  {
    border-style: solid;
    border-color: black;
  }
  .th7
  {
    border-style: solid;
    border-color: black;
  }
  .th8
  {
    border-style: solid;
    border-color: black;
  }
  .Potentialuserselect
  {
    width: 15em;
    position: relative;
    top: 10px;
    left: 695px;
    cursor: pointer;
  }
  .idea_sectorselect
  {
    width: 15em;
    position: relative;
    top: 10px;
    left: 695px;
    cursor: pointer;
  }
  .idea_innovativeselect
  {
    width: 15em;
    position: relative;
    top: 10px;
    left: 690px;
    cursor: pointer;
  }
  .Edit{
    cursor: pointer;
    background-color:	#CBC3E6;
    border: none;
    font-size: 16px;
  }
  .Edit:hover{
    color:   #5236AB;
  }
  .View{
    cursor: pointer;
    background-color:	#CBC3E6;
    border: none;
    font-size: 16px;
  }
  .View:hover{
    color:   #5236AB;
  }