.Homepage_Border
{
 width: 1414px;
 height: 643px;
 background-color: #CBC3E6;
 background-size: cover;
}
.Home_Menue{
  list-style-type: none;
position: relative;
left: 20px;
width: 100px;
height: 640px;
border-right: solid #f2f2f2;
border-bottom: #CBC3E6;
border-top: #CBC3E6;
border-left: #CBC3E6;
float:left;
background-color:	#CBC3E6;
}

.Home_Menue .Home:hover{
  color:  #E8E8E8;
}

.Home_Menue .Homeicon{
  width: 80px;
  height: 80px; 
  background-color: #7b68ee;
}

.Home_Menue .Project:hover{
  color:  #E8E8E8;
}
.Home_Menue .Home_Projecticon{
  height: 80px;
  width: 80px;
  float:left;
  margin-top: 15px;
}      
.Home_Menue .Idea:hover{
  color: #E8E8E8;
}
.Home_Menue .Home_Ideaicon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
  
}
.Home_Menue .Inspiration:hover{
  color:#E8E8E8;
}
.Home_Menue .Home__Inspirationicon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
}
.Home_Menue .PersonalUser:hover{
  color:#E8E8E8;
}
.Home_Menue .Home_PersonalUsericon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
}
.Home_Menue .Home_faqicon:hover{
  color:#E8E8E8;
}
.Home_Menue .Home_faqicon{
  margin-top: 30px;
  height: 80px;
  width: 80px;
  float:left;
}
.Home_ideabox{

  
  padding-left: 150px;
  padding-top: 50px;
  
 
}
.Home_ideabox .text{
  font-size: 70px;
  
}
.Home_ideabox .icon{
  height: 70px;
  width: 70px;
  
}
.Home_ideabox .button{
 background-color: #CBC3E6;
 border: none;
 color: #000000;
}
.Home_ideabox .button:hover{
  background-color: transparent;
background-repeat: no-repeat;
border: none;
cursor: pointer;
color: #5236AB;
}


.Home_Projectbox{
 
 
  padding-left: 450px;
  padding-top: 120px;
  
}
.Home_Projectbox .text{
  font-size: 70px;
  
}
.Home_Projectbox .icon{
  height: 70px;
  width: 70px;
 
}
.Home_Projectbox .button{
  background-color: #CBC3E6;
 border: none;
 color: #000000;
}
.Home_Projectbox .button:hover{
  background-color: transparent;
  cursor: pointer;
border: none;
color: #5236AB;
}

.Home_Inspirationbox{
  padding-left: 800px;
  padding-top: 150px;
  
}
.Home_Inspirationbox .text{
  font-size: 70px
}
.Home_Inspirationbox .icon{
  height: 70px;
  width: 70px;
 
}
.Home_Inspirationbox .button{
  background-color: #CBC3E6;
  color: #000000;
 border: none;
}
.Home_Inspirationbox .button:hover{
  background-color: transparent;
  cursor: pointer;
border: none;
color: #5236AB;
}