.faq_Border{
    width: 1411px;
    height: 643px;
   background-color: 	#CBC3E6;
   background-size: cover;
  }
  .Pfeilbackfaq{
    position: relative;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 709px;
    cursor: pointer;
  }
.faq_Titel{
    border: 2px solid;
    border-radius: 12px;
    background-color:#9E83F5;
    margin-left: 474px;
    width: 500px;
    height: 45px;
  }
.faq_Titel .faq_Text{
    padding-left: 180px;
    font-size: 35px;
  }
  .faq_Titel .faq_icon{
    width: 35px;
    height: 35px;
  }
  .faq_Menue{
    list-style-type: none;
  position: relative;
  bottom: 45px;
  left: 20px;
width: 100px;
height: 640px;
border-right: solid #f2f2f2;
border-bottom: #CBC3E6;
border-top: #CBC3E6;
border-left: #CBC3E6;
float:left;
background-color:	#CBC3E6;
}

  .faq_Menue .Home:hover{
    color:  #E8E8E8;
  }

  .faq_Menue .Homeicon{
    width: 80px;
    height: 80px; 
  }
  
  .faq_Menue .Project:hover{
    color:  #E8E8E8;
  }
  .faq_Menue .faq_Projecticon{
    height: 80px;
    width: 80px;
    float:left;
    margin-top: 15px;
  }      
  .faq_Menue .Idea:hover{
    color: #E8E8E8;
  }
  .faq_Menue .faq_Ideaicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
    
  }
  .faq_Menue .Inspiration:hover{
    color:#E8E8E8;
  }
  .faq_Menue .faq_Inspirationicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .faq_Menue .PersonalUser:hover{
    color:#E8E8E8;
  }
  .faq_Menue .faq_PersonalUsericon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .faq_Menue .faqicon:hover{
    color:#E8E8E8;
  }
  .faq_Menue .faqicon{
    margin-top: 30px;
    height: 80px;
    width: 80px;
    float:left;
    background-color: #7b68ee;
  }
.fa .projectbox{
    width: 35px;
    padding: 12%;
}

.Projectbox1 .Titel
{
    position: relative;
    left: 60px;
    font-size: 30px;
}
  
  .Projectbox1 .projectquestion {
    background: transparent;
    border: 1px solid lightgray;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    cursor: pointer;
    width: 85vw;
    margin-left: 50px;

  }
  
  .Projectbox1 .projectalign {
    align-items: center;
    display: flex;
    min-height: 10px;
    text-align: left;
  }
  
 .Projectbox1 .projectalign h4 {
    margin-left: 8px;
    font-size: 14px;
  }
  
 .Projectbox1 .projectstyle{
    font-size: 17px;
    width: 100%;
  }
  
  .Projectbox1 .projecticon {
    background: none;
    border: none;
    color: #1b6aae;
    cursor: pointer;
    font-size: 22px;
    margin-left: auto;
    margin-right: 8px;
  }
  
 .Projectbox1  .projectroate {
    transform: rotate(45deg);
  }
  
 .Projectbox1 .projectanswerdivider {
    border-top: 1px solid lightgray;
  }
  
.Projectbox1 .projectanswer {
    margin-left: 8px;
    margin-right: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease;
    text-align: left;
  }


