.Border{
    width: 1414px;
    height: 643px;
   background-color: #CBC3E6;
   background-size: cover;
  }
  .Security_Title{
    border: 2px solid;
    border-radius: 12px;
    background-color:#9E83F5;
    position: relative; 
    bottom: 30px;
    left: 380px;
    width: 580px;
    height: 45px;
  }
  .Security_Title .Text{
    padding-left: 210px;
    font-size: 35px;
    position: relative;
  }
  
  .Pfeilback{
    position: relative;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 10px;
    cursor: pointer;
  }
  