.Border{
  width: 1414px;
  height: 643px;
 background-color: #CBC3E6;
 background-size: cover;
}
.Defence_Title{
  border: 2px solid;
  border-radius: 12px;
  background-color:#9E83F5;
  position: relative; 
  bottom: 30px;
  left: 380px;
  width: 580px;
  height: 45px;
}
.Defence_Title .Text{
  padding-left: 120px;
  font-size: 35px;
  position: relative;
  top: 8px;
}
.Sector_table{
  position: relative;
  right: 70px;
  margin-left: 130px;
  margin-top: 20px;
  border-style: solid;
  border-color: black;
  width: 90%;
}
.Pfeilback{
  position: relative;
  width: 30px;
  height: 30px;
  top: 5px;
  left: 10px;
  cursor: pointer;
}
.Edit{
  cursor: pointer;
  background-color:	#CBC3E6;
  border: none;
  font-size: 16px;
}
.Edit:hover{
  color:   #5236AB;
}
.View{
  cursor: pointer;
  background-color:	#CBC3E6;
  border: none;
  font-size: 16px;
}
.View:hover{
  color:   #5236AB;
}