.Border
{
 width: 1414px;
 height: 643px;
 background-color: #CBC3E6;
 background-size: cover;
}
.Edit_Title{
  border: 2px solid;
  border-radius: 12px;
  background-color:#9E83F5;
  position: relative; 
  text-align: center;
  bottom: 30px;
  left: 380px;
  width: 580px;
  height: 45px;
}
.Edit_Title .Text{
  position: relative;
  font-size: 38px;
  top: 8px;
}
.EditAddtitle .Text{
  position: relative;
  left: 400px;
  font-size: x-large;
}
.EditAddtitle .Field{
  position: relative;
  left: 430px;
  box-sizing: border-box;
  padding: 12px;
  width: 380px;
  bottom: 5px;
  font-size:16px;
  }
  .EditSector .Text{
    position: relative;
    left: 350px;
    font-size: x-large;
  }
  .EditSector .select{
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 380px;
    position: relative;
    left: 370px;
    font-size:16px;
  }
  .EditInnovative .Text{
    position: relative;
    left: 350px;
    font-size: x-large;
  }
  .EditInnovative .select{
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 380px;
    position: relative;
    left: 370px;
    font-size:16px;
  }
  .EditDescription .Text{
    position: relative;
    left: 350px;
    font-size: x-large;
  }
  .EditDescription .Field{
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 380px;
    position: relative;
    left: 370px;
    font-size:16px;
    }
    .EditContact .Text{
      position: relative;
      left: 363px;
      font-size: x-large;
    }
    .EditContact .Field{
      margin-top: 10px;
      box-sizing: border-box;
      padding: 15px 20px;
      width: 380px;
      position: relative;
      left: 393px;
      font-size:16px;
  }
  .EditSubmit{
    margin-left: 552px;
    margin-top: 10px;
    
  }
  .Popup{
    width: 35em;
    height: 15em;
    margin-left: 480px;
    margin-top: 200px;
    border: none;
  }
  .Edit_Success{
    font-size: 40px;
    position: relative;
    bottom: 0px;
    left: 0px;
    background-color: #1AB977;
    }
    .Edit_Success .Button{
      padding: 10px 28px;
      margin-top: 10px;
      margin-left: 220px;
      cursor: pointer;
      background-color: #1AB977;
    }
    .Edit_Success .Titeltext {
      text-align: center;
    }
    .Edit_Success .Text{
      text-align: center;
    }
  .EditSubmit .SubmitButton{
    box-sizing: border-box;
    font-size:24px;
    padding: 12px 20px;
    resize: none;
    transition-duration: 0.4s;
    width: 382px;
  background-color: #cccccc;
  }
  .EditSubmit .SubmitButton:hover {
   
    border: none;
    background-color: 	#CBC3E6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  }
  .EditDelete{
    margin-left: 552px;
    margin-top: 10px;
    
  }
  .EditDelete .DeleteButton{
    box-sizing: border-box;
    font-size:24px;
    padding: 12px 20px;
    resize: none;
    transition-duration: 0.4s;
    width: 382px;
  background-color: #cccccc;
  }
  .EditDelete .DeleteButton:hover {
   
    border: none;
    background-color: 	#CBC3E6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  }
