.Border{
    width: 1411px;
    height: 643px;
   background-color: 	#CBC3E6;
   background-size: cover;
  }
  .PfeilbackProjectAdd{
    position: relative;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 689px;
    cursor: pointer;
  }
.Project_Titel{
    border: 2px solid;
    border-radius: 12px;
    background-color:#9E83F5;
    margin-left: 474px;
    width: 500px;
    height: 45px;
  }
.Project_Titel .Project_AddText{
    padding-left: 100px;
    font-size: 35px;
  }
  .Project_Titel .Project_icon{
    width:35px;
    height:35px;
  }
  .Project_Menue{
    list-style-type: none;
  position: relative;
  bottom: 45px;
  left: 20px;
width: 100px;
height: 640px;
border-right: solid #f2f2f2;
border-bottom: #CBC3E6;
border-top: #CBC3E6;
border-left: #CBC3E6;
float:left;
background-color:	#CBC3E6;
}

  .Project_Menue .Home:hover{
    color:  #E8E8E8;
  }

  .Project_Menue .Homeicon{
    width: 80px;
    height: 80px; 
  }
  
  .Project_Menue .Project:hover{
    color:  #E8E8E8;
  }
  .Project_Menue .Projecticon{
    height: 80px;
    width: 80px;
    float:left;
    margin-top: 15px;
  background-color: #7b68ee;
  }      
  .Project_Menue .Idea:hover{
    color: #E8E8E8;
  }
  .Project_Menue .Project_Ideaicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
    
  }
  .Project_Menue .Inspiration:hover{
    color:#E8E8E8;
  }
  .Project_Menue .Project_Inspirationicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Project_Menue .PersonalUser:hover{
    color:#E8E8E8;
  }
  .Project_Menue .Project_PersonalUsericon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Project_Menue .Project_faqicon:hover{
    color:#E8E8E8;
  }
  .Project_Menue .Project_faqicon{
    margin-top: 30px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Add .icon{
     float: left;
     position: relative;
     left: -150px;
     height: 260px;
     width: 150px;
     }
  .Addtitle .Text{
  position: relative;
  left: -90px;
  box-sizing: border-box;
  padding: 12px 20px;
  width: 620px;
  font-size:16px;
  }
  .Sector .select{
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 620px;
    position: relative;
    left: -90px;
    font-size:16px;
  }
  .Innovative .select{
    margin-top: 10px;
    box-sizing: border-box;
    padding: 15px 20px;
    width: 620px;
    position: relative;
    left: -90px;
    font-size:16px;
  }
  .Description .Text{
    position: relative;
    left: -90px;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 12px 20px;
    width: 620px;
    font-size:16px;
    resize: none;
    }
    .Contact .Text{
      position: relative;
      left: -90px;
      margin-top: 10px;
      box-sizing: border-box;
      padding: 12px 20px;
      width: 620px;
      font-size:16px;
      resize: none;
    }
    .Project_Submitt{
      position: relative;
      right: 90px;
        margin-top: 10px;
        
      }
      .Project_Submitt .AddButton{
        box-sizing: border-box;
        font-size:24px;
        padding: 12px 20px;
        resize: none;
        transition-duration: 0.4s;
        width: 620px;
        background-color: #cccccc;
      cursor: pointer;
      }
      .Project_Submitt .AddButton:hover {
        border: none;
        background-color: 	#CBC3E6;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
      }
.Popup{
  width: 35em;
  height: 15em;
  margin-left: 480px;
  margin-top: 200px;
  border: none;
}
.Project_Success{
font-size: 40px;
position: relative;
bottom: 0px;
left: 0px;
background-color: #1AB977;
}
.Project_Success .Titeltext {
  text-align: center;
}
.Project_Success .Text{
  text-align: center;
}
.Project_Success .Button{
  padding: 10px 28px;
  margin-top: 10px;
  margin-left: 220px;
  cursor: pointer;
  background-color: #1AB977;
}
.Project_Success .Button:hover{
  border: none;
  background-color: 	#CBC3E6;
}