.Border{
    width: 1414px;
 height: 643px;
 background-color: #CBC3E6;
 background-size: cover;
}
.PfeilbackProjectSearchSector{
  position: relative;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 738px;
  cursor: pointer;
}
.Project_Titel{
  border: 2px solid;
  border-radius: 12px;
  background-color:#9E83F5;
  margin-left: 474px;
  width: 500px;
  height: 45px;
}
.Project_Titel .Project_SearchSectorText{
  padding-left: 100px;
  font-size: 35px;
}
.Project_Titel .Project_icon{
  width:35px;
  height:35px;
}
.Project_Menue{
    list-style-type: none;
    position: relative;
    bottom: 45px;
    left: 20px;
  width: 100px;
  height: 640px;
  border-right: solid #f2f2f2;
  border-bottom: #CBC3E6;
  border-top: #CBC3E6;
  border-left: #CBC3E6;
  float:left;
  background-color:	#CBC3E6;
  }
  
  .Project_Menue .Home:hover{
    color:#E8E8E8;
    
  }
  
  .Project_Menue .Homeicon{
    width: 80px;
    height: 80px; 
   
  }
  
  .Project_Menue .Project:hover{
    color: #E8E8E8;
  }
  .Project_Menue .Projecticon{
    height: 80px;
    width: 80px;
    float:left;
    margin-top: 15px;
    background-color: #7b68ee;
    
  }
  .Project_Menue .Idea:hover{
    color: #E8E8E8;
  }
  .Project_Menue .Project_Ideaicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
    
  }
  .Project_Menue .Inspiration:hover{
    color:#E8E8E8;
  }
  .Project_Menue .Project_Inspirationicon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Project_Menue .PersonalUser:hover{
    color:#E8E8E8;
  }
  .Project_Menue .Project_PersonalUsericon{
    margin-top: 25px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .Project_Menue .Project_faqicon:hover{
    color:#E8E8E8;
  }
  .Project_Menue .Project_faqicon{
    margin-top: 30px;
    height: 80px;
    width: 80px;
    float:left;
  }
  .asean-symbol{
    margin-right: 100px;
  }
  .asean-symbol .SavingsIcon{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .ShieldIcon{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .EnergySavingsLeafIcon{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .HealingIcon{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .VerifiedUserIcon{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .MdScience{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .PrecisionManufacturingIcon{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .HeadsetMicIcon{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .AccountBalanceIcon{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .HiShoppingCart{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .BsRocketTakeoffFill{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .CellTowerIcon{
    width: 50px;
    height: 50px;
  }
  .asean-symbol .LocalShippingIcon{
    width: 50px;
    height: 50px;
  }