.Border{
  width: 1414px;
 height: 643px;
 background-color: #CBC3E6;
 background-size: cover;
}
.PfeilbackProjectBox{
  position: relative;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 590px;
  cursor: pointer;
}
.Project_Title{
  border: 2px solid;
  border-radius: 12px;
  background-color:#9E83F5;
  position: relative; 
  left: 350px;
  width: 580px;
  height: 45px;
}
.Project_Title .Project_Text{
  padding-left: 170px;
  font-size: 35px; 
}
.Project_Title .Project_icon{
  width:35px;
  height:35px;
}
.Project_Menue{
  list-style-type: none;
  position: relative;
  bottom: 45px;
  left: 20px;
width: 100px;
height: 640px;
border-right: solid #f2f2f2;
border-bottom: #CBC3E6;
border-top: #CBC3E6;
border-left: #CBC3E6;
float:left;
background-color:	#CBC3E6;
}

.Project_Menue .Home:hover{
  color:#E8E8E8;
  
}

.Project_Menue .Homeicon{
  width: 80px;
  height: 80px; 
 
}

.Project_Menue .Project:hover{
  color: #E8E8E8;
}
.Project_Menue .Projecticon{
  height: 80px;
  width: 80px;
  float:left;
  margin-top: 15px;
  background-color: #7b68ee;
  
}
.Project_Menue .Idea:hover{
  color: #E8E8E8;
}
.Project_Menue .Project_Ideaicon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
  
}
.Project_Menue .Inspiration:hover{
  color:#E8E8E8;
}
.Project_Menue .Project_Inspirationicon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
}
.Project_Menue .PersonalUser:hover{
  color:#E8E8E8;
}
.Project_Menue .Project_PersonalUsericon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
}
.Project_Menue .Project_faqicon:hover{
  color:#E8E8E8;
}
.Personal_Menue .Project_faqicon{
  margin-top: 30px;
  height: 80px;
  width: 80px;
  float:left;
}
.Sectors{
  margin-left: 350px;
  margin-top: 100px;
}
.Sectors .Button{
  background-color: #CBC3E6;
 border: none;
}
.Sectors .Button:hover{
  color:#151515;
  background-color: transparent;
background-repeat: no-repeat;
border: none;
cursor: pointer;
color: #5236AB;
}
.Sectors .Text{
  font-size: 20px;
font-weight: bold;
}
.List{
  margin-left: 350px;
  margin-top: 50px;
}
.List .Button{
  background-color: #CBC3E6;
  border: none;
}
.List .Button:hover{
  color:#151515;
  background-color: transparent;
background-repeat: no-repeat;
border: none;
cursor: pointer;
color: #5236AB;
}
.List .Text{
  font-size: 20px;
font-weight: bold;
}
.Add{
  margin-left: 350px;
  margin-top: 50px;
}
.Add .Button{
  background-color: #CBC3E6;
 border: none;
}
.Add .Button:hover{
  color:#151515;
  background-color: transparent;
background-repeat: no-repeat;
border: none;
cursor: pointer;
color: #5236AB;
}
.Add .Text{
  font-size: 20px;
font-weight: bold;
}