.Border{
  width: 1411px;
  height: 643px;
 background-color: 	#CBC3E6;
 background-size: cover;
}
.PfeilbackProjectSearchList{
  position: relative;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 684px;
  cursor: pointer;
}
.Project_Titel{
  border: 2px solid;
  border-radius: 12px;
  background-color:#9E83F5;
  margin-left: 474px;
  width: 500px;
  height: 45px;
}
.Project_Titel .Project_SearchListText{
  padding-left: 100px;
  font-size: 35px;
}
.Project_Titel .Project_icon{
  width:35px;
  height:35px;
}
.Project_Menue{
  list-style-type: none;
position: relative;
bottom: 45px;
left: 20px;
width: 100px;
height: 640px;
border-right: solid #f2f2f2;
border-bottom: #CBC3E6;
border-top: #CBC3E6;
border-left: #CBC3E6;
float:left;
background-color:	#CBC3E6;
}

.Project_Menue .Home:hover{
  color:  #E8E8E8;
}
.Project_Menue .Homeicon{
  width: 80px;
  height: 80px; 
}

.Project_Menue .Project:hover{
  color:  #E8E8E8;
}
.Project_Menue .Projecticon{
  height: 80px;
  width: 80px;
  float:left;
  margin-top: 15px;
background-color: #7b68ee;
}   
.Project_Menue .Idea:hover{
  color: #E8E8E8;
}
.Project_Menue .Project_Ideaicon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
}   
.Project_Menue .Inspiration:hover{
  color:#E8E8E8;
}
.Project_Menue .Project_Inspirationicon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
}
.Project_Menue .PersonalUser:hover{
  color:#E8E8E8;
}
.Project_Menue .Project_PersonalUsericon{
  margin-top: 25px;
  height: 80px;
  width: 80px;
  float:left;
}
.Project_Menue .Project_faqicon:hover{
  color:#E8E8E8;
}
.Project_Menue .Project_faqicon{
  margin-top: 30px;
  height: 80px;
  width: 80px;
  float:left;
}
.search-input
{
  width: 200px;
  height: 25px;
  position: relative;
  top: 10px;
  left: 30px;
}
.table{
  margin-left: 130px;
  margin-top: 20px;
  border-style: solid;
  border-color: black;
  width: 90%;
}
.tbody{
  text-align: center;
  font-size: 18px;
}
.thead{
  font-size: 20px;
}
.th1
{
  border-style: solid;
  border-color: black;
}
.th2
{
  border-style: solid;
  border-color: black;
}
.th3
{
  border-style: solid;
  border-color: black;
}
.th4
{
  border-style: solid;
  border-color: black;
}
.th5
{
  border-style: solid;
  border-color: black;
}
.th6
{
  border-style: solid;
  border-color: black;
}
.sectorselect
{
  width: 15em;
  position: relative;
  top: 10px;
  left: 700px;
  cursor: pointer;
}
.innovativeselect
{
  width: 15em;
  position: relative;
  top: 10px;
  left: 705px;
  cursor: pointer;
}
.Edit{
  cursor: pointer;
  background-color:	#CBC3E6;
  border: none;
  font-size: 16px;
}
.Edit:hover{
  color:   #5236AB;
}
.View{
  cursor: pointer;
  background-color:	#CBC3E6;
  border: none;
  font-size: 16px;
}
.View:hover{
  color:   #5236AB;
}